#discordDeneme{
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    border:solid 5px #160040;
    background-color: #4C0070;
    text-decoration-line: inline;
    height: 79px;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body{
    background-color: #3F3351;
}

#sonSon{
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#buttonButton{
    font-size: 30px;
   
}